<li class="me-2">
  <% if @round == round %>
    <span class="inline-block px-4 py-3 rounded-lg text-white bg-blue-600 active" aria-current="page">
      <%= round.display_name %>
    </span>
  <% else %>
    <%= link_to [:organizer, round.tournament, round.becomes(Round)], class: "inline-block px-4 py-3 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white" do %>
      <%= round.display_name %>
    <% end %>
  <% end %>
</li>
